<style type="text/css">
	body{
		background-color: green;
	}
</style>
<h1>You Fell in Love with : <%= thingVar%></h1>

<% if(thingVar.toLowerCase()=="rusty"){ %>
	<p>Good Choice for Picking Rusty</p>
<%} else{%>
<p>Bad Choice You should have picked rusty</p>
<%}%>


<!-- <%= %>(Displayed JavaScript) -->
<!-- <% %>(Hidden JavaScript) -->
