<!DOCTYPE html>
<html>
<head>
	<title>Demo App</title>
	<link rel="stylesheet" type="text/css" href="/app.css"><!-- '/' here indicates express to look for app.css in some-->
</head>													   <!-- other folder -->
<body>

